title {
  color: #282828;
}
.container {
  background-color: #c4c4c4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  padding: 10px 50px 20px;
  background-color: #ffffff;
}
header {
  background-color: #ffffff;
}
p {
  color: #282828;
}
img {
  width: 288px;
  height: 182px;
  margin-bottom: 12px;
}
footer {
  background-color: #ffffff;
}
/*smartphone*/
@media screen and (max-width: 320px) {
  .card__title {
    font-size: 10px;
  }
  .card__description {
    display: none;
  }
}
/*iPad*/
@media screen and (min-width: 321px) and (max-width: 768px) {
  .card__title {
    font-size: 12px;
  }
  .card__description {
    font-size: 10px;
  }
}
/*pc*/
@media screen and (min-width: 769px) {
  .card__title {
    font-size: 14px;
  }
  .card__description {
    font-size: 12px;
  }
}
